body {
    background-color: black        ;   
    color: white;    
                
}

#app {
    width: fit-content;
    margin: auto;
    min-width: 75%;
    text-align: center;
}

.pianokey {                       
    border: 0;
    width: 12vw;
    height: 12vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    /* background-image: url("./svgs/circle.svg"); */
    user-select: none;
    border: 0;
    background-color: rgba(20, 50, 0,0.2);
    border-radius: 15%;
    margin: 1vw;
}
@media (min-width: 500px) and (orientation: landscape) {
    .pianokey {                       
        border: 0;
        width: 7vw;
        height: 7vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 95%;
        /* background-image: url("./svgs/circle.svg"); */
        user-select: none;
        border: 0;
        background-color: rgba(20, 50, 0,0.2);
        border-radius: 15%;
        margin: 1vw;
    }

}


#instrumentListContainer{
    position: fixed;
    top: 0;
    left: 50%;
    background-color: black;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
}
.piano{
    padding-top: 5%;
}

